<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czx.mapper.FileRecordMapper">
    
    <resultMap id="FileRecordResultMap" type="com.czx.pojo.FileRecord">
        <id column="id" property="id"/>
        <result column="original_name" property="original_name"/>
        <result column="stored_name" property="stored_name"/>
        <result column="file_path" property="file_path"/>
        <result column="file_size" property="file_size"/>
        <result column="file_type" property="file_type"/>
        <result column="uploaded_by" property="uploaded_by"/>
        <result column="upload_time" property="upload_time"/>
    </resultMap>
    
    <select id="findAll" resultMap="FileRecordResultMap">
        SELECT * FROM file_records ORDER BY upload_time DESC
    </select>
    
    <select id="findById" resultMap="FileRecordResultMap">
        SELECT * FROM file_records WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.czx.pojo.FileRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_records (original_name, stored_name, file_path, file_size, file_type, uploaded_by, upload_time)
        VALUES (#{original_name}, #{stored_name}, #{file_path}, #{file_size}, #{file_type}, #{uploaded_by}, NOW())
    </insert>
    
    <delete id="deleteById">
        DELETE FROM file_records WHERE id = #{id}
    </delete>
    
</mapper>
